<a id="menu-button" [ngClass]="{'opened': menuOpened }" (click)="menuOpened = !menuOpened;">
  <i class="fa fa-bars" aria-hidden="true"></i>
</a>

<nav class="menu-wrapper" [ngClass]="{'opened': menuOpened }">
  <div class="icon-list">
    <!--ul class="menu-ul">
      <li><a routerLink="/" routerLinkActive="active" (click)="menuOpened = !menuOpened;" class="link"><span data-letters="PLAY">Play</span></a></li>
      <li><a routerLink="/about-me" routerLinkActive="active" (click)="menuOpened = !menuOpened;" class="link"><span data-letters="TUTORIAL">Tutorial</span></a></li>
    </ul>
    <ul class="social-links-ul">
      <li><a routerLink="/login" routerLinkActive="active" (click)="menuOpened = !menuOpened;" class="link"><span data-letters="LOGIN">Login</span></a></li>
      <li><a routerLink="/signup" routerLinkActive="active" (click)="menuOpened = !menuOpened;" class="link"><span data-letters="SIGNUP">Signup</span></a></li>
    </ul-->
    <ul class="menu-ul">
      <li><a routerLink="/" routerLinkActive="active" (click)="menuOpened = !menuOpened;" class="link"><span data-letters="HOME">Home</span></a></li>
    </ul>
  </div>
</nav>
